body {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: hsl(212, 45%, 89%);
}
.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.234);
}

.image img {
  width: 300px;
  border-radius: 6px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-weight: 500;
}
